{% extends "skeleton.html" %}
{% import "macros.html" as macros %}

{% block title %}
/{{board.name}}/-{{board.description}}
{% endblock %}

{% block main %}

<div class="textCenter">
	<h1>/{{board.name}}/<sub id="userOnline"></sub></h1>
	<p style="padding : 2px 0px">{{board.description}}</p>
	<button class="newPostButton">create new post</button>
</div>

{{ macros.postList(datalist, board) }}

<div class="newPostWindow" hidden="true">
	<div id="dragHeader"></div>
	<form method="post" enctype="multipart/form-data">
		<label for="name">Name :</label>
		<br>
		<input type="text" id="name" name="name" placeholder="Anonymous" />
		<br>
		<label for="title">Title :</label>
		<br>
		<input type="text" id="title" name="title" placeholder="Title"/>
		<br>
		<label for="content">Content :</label>
		<br>
		<textarea rows="8" cols="40" placeholder="Whats in your mind..." id="content" name="content"
			required></textarea>
		<br>
		<label for="file">File :</label>
		<br>
		<input type="file" id="file" name="file" placeholder="file" accept="image/*, video/*" required />
		<br><br>
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
		<button type="button" class="newPostButton">Close</button>
	</form>
</div>

<br>

{% endblock %}

{% block script %}
	<script src="/public/board.js" defer></script>
{% endblock %}