{% extends "skeleton.html" %}
{% import "macros.html" as macros %}

{% block title %}
	{{title}}
{% endblock %}

{% block main %}
<div class="textCenter">
	<h1>{{ title }}</h1>
	<p>Fast, anonymous, ephemeral, minimally censored, and meme-friendly.</p>

	{{ macros.navBar(boards) }}
	
	<section class="indexImages">
		<h3>Recent images</h3>
		{% for image in images %}
		<img src="/public/files/{{image.path}}" alt="image.path" height="100" width="100"/>
		{% else %}
		<p>No images :&lt;</p>
		{% endfor %}
	</section>
	<img style="max-width: 350px; margin: auto;" src="/public/images/pyari_higuchi_hina_with_uncle_chips.jpg" alt="pyaari higuchi hina with uncle chips. the best combo" />
	</div>
{% endblock %}