{% extends "skeleton.html" %}
{% import "macros.html" as macros %}

{% block title %}
	{{title}}
{% endblock %}

{% block main %}
<div class="textCenter">
	<h1>{{ title }}</h1>
	<!-- <p>Fast, anonymous*, ephemeral, minimally censored, and meme-friendly.</p> -->
	<p>Indian memes site with no account requirement.</p>
	
	{{ macros.navBar(boards) }}
	
	<section class="indexImages">
		<h3>Recent images</h3>
		{% for image in images %}
			{% if "image" in image.mime_type %}
				<a href="/goto/{{image.id}}"><img src="/public/thumbnails/{{image.path}}" alt="{{image.path}}" height="100" width="100"/></a>
			{% else %}
				<a href="/goto/{{image.id}}"><img src="/public/thumbnails/{{image.path}}.png" alt="{{image.path}}" height="100" width="100"/></a>
			{% endif %}
		{% else %}
		<p>No images :&lt;</p>
		{% endfor %}
	</section>

	<img style="max-width: 350px; margin: auto;" src="/public/images/{{['pyaari_in_saari.png', 'mountaindewandunclechips.png', 'pyari_higuchi_hina_with_uncle_chips_2.jpg', 'pyari_higuchi_hina_with_uncle_chips.jpg', 'pyarihiguchidewchips.jpg', 'sugawara2.png'] | random}}" alt="pyaari in sari" />
	
	
	<br>
	
	</div>
{% endblock %}