{% macro navBar(boards) %}
<nav class="navlinks">
	<ul>
		{% for board in boards %}
		<li><a href="/board/{{board.name}}">/{{board.name}}/</a></li>
		{% else %}
		<p>No boards available :&lt;</p>
		{% endfor %}
	</ul>
</nav>
{% endmacro %}

{% macro postList(datalist, board) %}
	<section class="postList">
		{% for data in datalist %}
			{{ post(data, board) }}
		{% endfor %}
	</section>
{% endmacro %}

{% macro post(data, board) %}

	<article class="post">
		<header>
			<h3>{{data.title}}</h3>
		</header>
		{% if data.image_path %}
			<img src="{{data.image_path}}" height="100" width="100" loading="lazy"/>
		{% endif %}
		<p>{{data.content}}</p>
		<footer>
			{% if board %}
				<span>{{data.reply_count}} replies</span>
				<a href="board/{{board.name}}/thread/{{data.id}}">View</a>
				<br/>
			{% endif %}
			<span>~{{data.username}}</span>
			<span>{{data.created_at}}</span>
			<span>#{{data.id}}</span>
			{% if not board %}
				<button id="replyButton" data-post-number="{{data.id}}">Reply</button>
			{% endif %}
		</footer>
	</article>

{% endmacro %}

