{% macro navBar(boards) %}
<nav class="navlinks">
	<ul>
		{% for board in boards %}
		<li><a href="/board/{{board}}">/{{board}}/</a></li>
		{% else %}
		<p>No boards available :&lt;</p>
		{% endfor %}
	</ul>
</nav>
{% endmacro %}

{% macro postList(datalist, board) %}
	<section class="postList">
		{% for data in datalist %}
			{{ post(data, board) }}
		{% endfor %}
	</section>
{% endmacro %}

{% macro post(data, board) %}

	<article class="post">
		<header>
			<h3>Some fooking tile for it</h3>
		</header>
		<p>
			<img src="/images/sugawara1.png" height="100" width="100"/>
			{{data.content}}
		</p>
		<footer>
			{% if board %}
				<span>2 Replies</span>
				<a href="board/{{board}}/thread/{{data.postNumber}}">View</a>
			{% else %}
				<button id="replyButton" data-post-number="{{data.postNumber}}">Reply</button>
			{% endif %}
			<br>
			<span>~{{data.name}}</span>
			<span>{{data.date.toLocaleString()}}</span>
			<span>#{{data.postNumber}}</span>
			
		</footer>
	</article>

{% endmacro %}

