{% macro navBar(boards) %}
<nav class="navLinks">
	<ul>
		{% for board in boards %}
		<li><a href="/board/{{board.name}}">/{{board.name}}/</a></li>
		{% else %}
		<p>No boards available :&lt;</p>
		{% endfor %}
	</ul>
</nav>
{% endmacro %}

{% macro postList(datalist, board) %}
	<section class="postList">
		{% for data in datalist %}
			{{ post(data, board) }}
		{% endfor %}
	</section>
{% endmacro %}

{% macro post(data, board) %}

	<article class="post" id="{{data.id}}">
		<header>
			<h3>{{data.title}}</h3>
		</header>
		{% if data.image_path %}
			{% if "video" in data.mimetype %}
				<video class="fullsizeMedia" src="/public/files/{{data.image_path}}" controls preload="none" hidden ></video>
				<img class="thumbnail" src="/public/thumbnails/{{data.image_path}}.png" alt="{{data.image_path}}" height="100" width="100" loading="lazy"/>
			{% else %}
				<img class="fullsizeMedia" src="/public/files/{{data.image_path}}" alt="{{data.image_path}}" loading="lazy"  hidden/>
				<img class="thumbnail" src="/public/thumbnails/{{data.image_path}}" alt="{{data.image_path}}" height="100" width="100" loading="lazy"/>
			{% endif %}
		{% endif %}
		<p>{{data.content | greenText | safe}}</p>
		<!-- {% for reply in data.latest_replies %}<br><span style="border: 1px solid black; padding: 4px 4px; margin-top: 8px; display: inline-block; white-space: pre-line; word-break: break-all; border-radius: 4px;">{{reply.content | truncate}}</span>{% endfor %} -->
		<footer class="postFooter">
			{% if board %}
				<span>{{data.reply_count}} replies</span>
				<a href="/board/{{board.name}}/thread/{{data.id}}">View</a>
				<br>
			{% endif %}
			<span>~{{data.username}}</span>
			<span>{{data.created_at | indianDate}}</span>
			<span>#{{data.id}}</span>
			{% if not board %}
				<button class="replyButton" data-post-number="{{data.id}}">Reply</button>
			{% endif %}
		</footer>
		<hr/>
		<marquee>{% for reply in data.latest_replies %}{{reply.content}} | {% endfor %}</marquee>
	</article>

{% endmacro %}

