<!DOCTYPE html>
<html lang="en">

	<head>
		<title>
			{% block title %}
			IndiaChan.Gay
			{% endblock %}
		</title>
		<base href="">
		<meta charset="UTF-8">
		<meta name="description" content="IndiaChan - Fast, anonymous, ephemeral, minimally censored, and meme-friendly.">
		<meta name="keywords" content="IndiaChan, BharatChan, chan, india, indian, bharat">
		<link rel="icon" type="image/x-icon" href="/public/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="google-site-verification" content="hGBcVhPEzMQXyQPOJjUZALMKvZMF9a7fjPEs9eQt6XA" />
		<link rel="stylesheet" href="/public/style.css">
	</head>

	<body>
		<main>

			{% if not index %}
			<nav class="navLinks ">
				<ul class="textCenter">
					<li><a href="/">main</a></li>
					{% for board in boards %}
					<li><a href="/board/{{board.name}}">/{{board.name}}/</a></li>
					{% else %}
					<p>No boards available :&lt;</p>
					{% endfor %}
				</ul>
			</nav>
			{% endif %}

			{% block main %}
				Content goes here.
			{% endblock %}

			

		</main>

		{% block script %}
			
		{% endblock %}

		<!-- <marquee style="position: fixed; bottom: 0; background-color: white;">Attention please : Thank you for your attention.</marquee> -->
		
	</body>

</html>