{% extends "skeleton.html" %}
{% import "macros.html" as macros %}

{% block title %}
{{datalist[0].title}}
{% if datalist[0].title %}-{% endif %}
{{datalist[0].content}}
{% endblock %}

{% block main %}

{{ macros.postList(datalist) }}

<div class="newPostWindow" hidden="true">
	<div id="dragHeader"></div>
	<form method="post" enctype="multipart/form-data">
		<label for="name">Name :</label>
		<br>
		<input type="text" id="name" name="name" placeholder="Anonymous" />
		<br>
		<label for="content">Content :</label>
		<br>
		<textarea rows="8" cols="40" placeholder="Whats in your mind..." id="content" name="content"
			required></textarea>
		<br>
		<label for="file">File :</label>
		<br>
		<input type="file" id="file" name="file" placeholder="file" accept="image/*,video/*" />
		<div style="margin: 8px 0px;">
			<label for="sage">Sage : </label><input type="checkbox" id="sage" name="sage"
				style="vertical-align: middle;" />
		</div>
		<button type="submit">Submit</button>
		<button type="reset">Reset</button>
		<button type="button" class="closeButton">Close</button>
	</form>
</div>

<br />

{% endblock %}

{% block script %}
	<script src="/public/thread.js" defer></script>
{% endblock %}