{% extends "skeleton.html" %}
{% import "macros.html" as macros %}

{% block title %}
	1234 - Replace it with title or some description
{% endblock %}

{% block main %}
	{{ macros.postList(datalist) }}

	<div class="newPostWindow" hidden="true" >
		<div id="dragHeader" class="textCenter">DRAG</div>
		<form method="post" enctype="multipart/form-data">
			<label for="name">Name :</label>
			<br>
			<input type="text" id="name" name="name" placeholder="Anonymous"/>
			<br>
			<label for="content">Content :</label>
			<br>
			<textarea rows="8" cols="40" placeholder="Whats in your mind..." id="content" name="content" required></textarea>
			<br>
			<label for="file">File :</label>
			<br>
			<input type="file" id="file" name="file" placeholder="file" accept="image/*,video/*"/>
			<br><br>
			<button type="submit">Submit</button>
			<button type="reset">Reset</button>
			<button type="button" class="closeButton">Close</button>
		</form>
	</div>

{% endblock %}

{% block script %}
	<script>
		const replyButton = document.querySelectorAll(".replyButton")
		let newPostWindow = document.querySelector('.newPostWindow')
		const dragHeader = document.getElementById('dragHeader')
		const textbox = document.getElementById('content')
		const closeButton = document.querySelector(".closeButton")
		const thumbnails = document.querySelectorAll(".thumbnail")

		thumbnails.forEach(thumbnail => thumbnail.addEventListener('click', ()=>{
			let temp = thumbnail.parentElement.querySelector('.fullsizeMedia')
			temp?.toggleAttribute('hidden')
			if(temp.tagName == "VIDEO"){
				temp.pause()
			}
		}))


		closeButton.addEventListener('click', () => {
			newPostWindow.toggleAttribute('hidden')
		})

		replyButton.forEach(btn => {
				btn.addEventListener('click', () => {
					// alert(btn.dataset.postNumber)
					if(newPostWindow.hasAttribute('hidden')){
						newPostWindow.toggleAttribute('hidden')
					}	
					textbox.value += ">>"+btn.dataset.postNumber+"\n"
				})
			})

		let offsetX = 0, offsetY = 0, isDragging = false;
		dragHeader.style.cursor = 'move';
		dragHeader.addEventListener('mousedown', (e) => {
			isDragging = true;
			// Record where you clicked
			offsetX = e.clientX - newPostWindow.offsetLeft;
			offsetY = e.clientY - newPostWindow.offsetTop;
			dragHeader.style.cursor = 'grabbing';
		});

		document.addEventListener('mousemove', (e) => {
			if (!isDragging) return;
			// Move the element
			newPostWindow.style.left = e.clientX - offsetX + 'px';
			newPostWindow.style.top = e.clientY - offsetY + 'px';
		});

		dragHeader.addEventListener('mouseup', () => {
			isDragging = false;
			dragHeader.style.cursor = 'move';
		});

		dragHeader.addEventListener('touchstart', (ee) => {
			isDragging = true;
			var e = ee.targetTouches[0];
			// Record where you clicked
			offsetX = e.pageX - newPostWindow.offsetLeft;
			offsetY = e.pageY - newPostWindow.offsetTop;
		});

		dragHeader.addEventListener('touchmove', (e) => {
			if (!isDragging) return;
			 var touchLocation = e.targetTouches[0];
				newPostWindow.style.left = touchLocation.pageX  - offsetX + 'px';
				newPostWindow.style.top = touchLocation.pageY - offsetY  + 'px';
		});

		dragHeader.addEventListener('touchend', () => {
			isDragging = false;
		});

	</script>
{% endblock %}