* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	padding: 12px;
	background-color: whitesmoke;
}

.navLinks {
	margin: 0px 0px 12px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		margin-right: 10px;
	}


}

.textCenter {
	text-align: center;
}

button,input, textarea{
	padding: 4px;
}

.indexImages {
	margin: 12px 0px;
}

.indexStats {
	margin: 12px 0px;
}

.postList {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 8px 0px;
}

.post {
	border: 1px solid black;
	border-radius: 4px;
	width: fit-content;
	padding: 12px;


	.thumbnail {
		float: left;
		margin-right: 12px;
	}

	.fullsizeMedia{
		max-width: 50%;
		max-height: 90vh;
		object-fit: cover;
	}

	p {
		white-space: pre-wrap;
	}

	p::after {
		content: "";
		clear: both;
		display: table;
	}
}

.postFooter {
	padding-top: 8px;
	&>*{
		margin-right: 4px;
	}
}


.newPostWindow {
	background-color: whitesmoke;
	padding: 0px 12px 12px;
	border: 1px solid black;
	z-index: 2;
	position: fixed;
	top: 10%;
    left: 10%;

	#dragHeader{
		height: 20px;
		background-color: rgb(186, 184, 184);
	}
}

@media (max-width:768px) {
	.post{
		.fullsizeMedia{
			max-width: 100%;
		}
	}
}