* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
	padding: 12px;
}

.navlinks {
	margin: 12px 0px;

	ul {
		list-style: none;
		/* remove bullets */
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		/* put them in one line */
		margin-right: 10px;
		/* optional spacing */
	}

	/* a {
		text-decoration: none;
		color: inherit;
	} */
}

.indexImages {
	margin: 12px 0px;
}

.indexStats {
	margin: 12px 0px;
}

.postList {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post {
	/* border: 1px solid black;
	border-radius: 8px; */
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 12px;

	img {
		float: left;
	}

	p::after {
		content: "";
		clear: both;
		display: table;
	}
}


.newPostWindow {
	background-color: whitesmoke;
	padding: 12px;
	border: 1px solid black;
	z-index: 2;
	position: absolute;
	top: 25px;
	left: 100px;
}