* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
	padding: 12px;
	background-color: whitesmoke;
}

.navLinks {
	margin: 0px 0px 12px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		margin-right: 10px;
	}


}

.textCenter {
	text-align: center;
}

button,input, textarea{
	padding: 4px;
}

.indexImages {
	margin: 12px 0px;
}

.indexStats {
	margin: 12px 0px;
}

.postList {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 8px 0px;
}

.post {
	border: 1px solid black;
	border-radius: 2px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	padding: 12px;


	img {
		float: left;
		margin-right: 12px;
	}

	p {
		white-space: pre-wrap;
	}

	p::after {
		content: "";
		clear: both;
		display: table;
	}
}

.postFooter {
	padding-top: 8px;
}


.newPostWindow {
	background-color: whitesmoke;
	padding: 0px 12px 12px;
	border: 1px solid black;
	z-index: 2;
	position: fixed;
	top: 25px;
	left: 50px;
}