* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.4;
}

html,body{
	height: 100%;
	width: 100%;
}

main {
	padding: 12px;
	background-color: black;
	color: gray;
}

.navLinks {

	padding: 8px 0px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		margin-right: 10px;
	}


}

.textCenter {
	text-align: center;
}

button,input, textarea{
	padding: 4px;
}

.indexImages {
	padding : 8px 0px;
	h3{
		padding-bottom: 4px;
	}
}

.postList {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 8px 0px;
}

.post {
	border: 1px solid gray;
	border-radius: 4px;
	/* width: fit-content; */
	/* max-width: 100%; */
	width: 70%;
	margin: auto;
	padding: 12px;
	

	header{
		margin-bottom: 8px;
	}

	.thumbnail {
		float: left;
		margin-right: 12px;
	}

	.fullsizeMedia{
		max-width: 50%;
		max-height: 90vh;
		/* object-fit: cover; */
	}

	p {
		white-space: pre-wrap;
		word-wrap: break-word;
	}

	p::after {
		content: "";
		clear: both;
		display: table;
	}

	footer {
		padding-top: 8px;
		&>*{
			margin-right: 4px;
			margin-bottom: 2px;
		}
	}
}




.newPostWindow {
	background-color: whitesmoke;
	padding: 0px 12px 12px;
	border: 1px solid gray;
	z-index: 2;
	position: fixed;
	top: 10%;
    left: 10%;

	#dragHeader{
		height: 20px;
		background-color: rgb(186, 184, 184);
	}
}

.static{
	position: static;
	background-color: whitesmoke;
	padding: 0px 12px 12px;
	border: 1px solid gray;
	#dragHeaderStatic{
		height: 20px;
		background-color: rgb(186, 184, 184);
	}
}

@media (max-width:768px) {
	.post{
		width: 100%;
		.fullsizeMedia{
			max-width: 100%;
		}
	}
}

#userOnline{
	font-size: 10px;
}